{{define "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/_/images/logo.jpg" type="image/jpeg">
    <link href="/_/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_/css/lightbox.min.css" rel="stylesheet">
    <title>ImageServer</title>
</head>
<body class="bg-light">
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>📸 ImageServer</strong>
            </a>
        </div>
    </div>
</header>
{{end}}

{{define "breadcrumb"}}
<div class="bg-body shadow-sm">
    <div class="container">
        <nav class="nav nav-underline d-block" aria-label="breadcrumb">
            <ol class="breadcrumb user-select-none rounded-0">
                <li class="breadcrumb-item"><a href="/" class="text-decoration-none">🏠</a></li>
                {{range breadCrumb .path }}
                <li class="breadcrumb-item"><a href="{{ . }}" class="text-decoration-none">{{ pathToName . }}</a></li>
                {{end}}
            </ol>
        </nav>
    </div>
</div>
{{end}}

{{define "footer"}}
<script src="/_/js/jquery.min.js"></script>
<script src="/_/js/bootstrap.bundle.min.js"></script>
<script src="/_/js/lightbox.min.js"></script>
<script src="/_/js/js.cookie.min.js"></script>
</body>
</html>
{{end}}