{{template "header" .}}
<main>
    {{ if .folders }}
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{range .folders}}
                <div class="col">
                    <a class="text-decoration-none" href="{{ . }}">
                        <div class="card shadow-sm">
                            <div class="row g-0">
                                <div class="col-sm-1 align-content-center text-center fs-1">
                                    🗂
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ pathToName .}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}

    {{ if .files }}
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{range .files}}
                <div class="col">
                    <a data-lightbox="ImageServer" data-title="{{ pathToName . }}"
                       href="{{ . }}" target="_blank" title="{{ pathToName . }}">
                        <div class="card shadow-sm">
                            <img loading="lazy" src="{{ . }}"/>
                        </div>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}

</main>
{{template "footer" .}}