{{template "header"}}
{{template "breadcrumb" .}}

<div class="jumbotron" id="main">
    <div class="container">
        <h1 class="display-4">:(</h1>
        <p class="lead">Oh, 404~</p>
    </div>
</div>

{{template "footer"}}