{{define "header"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/_/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_/css/lightbox.min.css" rel="stylesheet">
    <link href="/_/css/image-server.css" rel="stylesheet">
    <link rel="icon" href="/_/images/logo.jpg" type="image/jpeg">
    <title>ImageServer</title>
</head>
<body>
{{end}}

{{define "breadcrumb"}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        {{range breadCrumb .Path }}
        <li class="breadcrumb-item"><a href="{{ . }}">{{ pathToName . }}</a></li>
        {{end}}
        <li class="ml-auto">
            {{ if .PreFolder }}
            <a href="{{.PreFolder}}" class="badge badge-success mx-3"> < </a>
            {{else}}
            <span class="badge badge-secondary mx-3"> < </span>
            {{end}}
            {{if .NextFolder}}
            <a href="{{.NextFolder}}" class="badge badge-success mx-3"> > </a>
            {{else}}
            <span class="badge badge-secondary mx-3"> > </span>
            {{end}}
            <span class="badge btn-primary" data-toggle="modal" data-target="#settingsModal">
                #
            </span>
        </li>
    </ol>
</nav>
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="lineImages" class="col-sm-1 col-form-label">Images</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="lineImages">
                                <option value="">Not Limited</option>
                                <option value="col-md-1">1</option>
                                <option value="col-md-6">2</option>
                                <option value="col-md-4">3</option>
                                <option value="col-md-3">4</option>
                                <option value="col-md-2">6</option>
                                <option value="col-md-1">12</option>
                            </select>
                        </div>
                        <label for="lineVideos" class="col-sm-1 col-form-label">Videos</label>
                        <div class="col-sm-5">
                            <select class="form-control" id="lineVideos">
                                <option value="">Not Limited</option>
                                <option value="col-md-1">1</option>
                                <option value="col-md-6">2</option>
                                <option value="col-md-4">3</option>
                                <option value="col-md-3">4</option>
                                <option value="col-md-2">6</option>
                                <option value="col-md-1">12</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{{end}}


{{define "footer"}}
<script src="/_/js/jquery.min.js"></script>
<script src="/_/js/bootstrap.bundle.min.js"></script>
<script src="/_/js/lightbox.min.js"></script>
<script>
    lightbox.option({
        'resizeDuration': 0,
        'wrapAround': true,
        'fadeDuration': 0,
        'imageFadeDuration': 0
    })
</script>
</body>
</html>
{{end}}