{{template "base" .}}

{{define "main"}}

{{ if .Folders }}
<div class="row pb-3">
    <table class="table table-sm table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Folder</th>
        </tr>
        </thead>
        <tbody>
        {{range $index, $element := .Folders}}
        <tr>
            <th scope="row">{{ $index }}</th>
            <td><a href="{{ $element }}">{{ pathToName $element }}</a></td>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}

{{ if .Images }}
<div class="row pb-3">
    {{range .Images}}
    <a href="/{{ . }}" data-title="{{ pathToName . }}" title="{{ pathToName . }}" data-lightbox="ImageServer">
        <img src="/{{ . }}" class="img-thumbnail col-md-6" loading="lazy"/>
    </a>
    {{end}}
</div>
{{end}}

{{ if .Videos }}
<div class="row pb-3">
    {{range .Videos}}
    <figure class="figure img-thumbnail col-md-6">
        <video controls buffered name="media" preload="metadata" class="embed-responsive">
            <source src="/{{ . }}">
        </video>
        <figcaption class="figure-caption text-center">{{ pathToName . }}</figcaption>
    </figure>
    {{end}}
</div>
{{end}}

{{end}}