{{template "base" .}}

{{define "main"}}

{{ if .Folders }}
<table class="table table-sm table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Folder</th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $element := .Folders}}
    <tr>
        <th scope="row">{{ $index }}</th>
        <td><a href="{{ $element }}">{{ pathToName $element }}</a></td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}

{{ if .Images }}
{{range .Images}}
<img src="/{{ . }}" class="img-thumbnail" loading="lazy"/>
{{end}}
{{end}}

{{ if .Videos }}
{{range .Videos}}
<video controls buffered name="media" preload="metadata" class="embed-responsive-item">
    <source src="/{{ . }}">
</video>
{{end}}
{{end}}

{{end}}